@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.cardsContainer{
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
  grid-template-rows: 400px 400px 400px; 
  column-gap: 3%;
  row-gap: 40px;

}    