@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.footer{
height: 200px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}

.logoContainerFooter{
  display: flex;
  align-items: flex-end;
  padding-left: 1.5rem;
  }

  .photoContainerFooter{
    height: 47.8px;
    width: 44.3px;
    display: flex;
    padding-bottom: 10px;
  }
  
  .photoContainerFooter img {
    width: 100%; 
    height: 100%; 
    padding-bottom: 20px;
    padding-left:10px;
  }

  .contactContainer{
 display: block;
 justify-content: flex-start;
 align-items: center;  
  }

  .contactTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    margin: 0px;
  }

  .contactItem{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;    
    display: block;
    padding-left: 5px;
    margin: 0px;  

  }
